.yellow{
  background-color: yellow;
  height: 40px;
  margin: 0 0 10px;
}

.blue{
  background-color: blue;
  height: 40px;
  margin: 0 0 10px;
}

.red{
  background-color: red;
  height: 40px;
  margin: 0 0 10px;
}

.green{
  background-color: green;
  height: 40px;
  margin: 0 0 10px;
}

.grey{
  background-color: grey;
  height: 40px;
  margin: 0 0 10px;
}

.yellow1{
  background-color: yellow;
  height: 40px;
  margin: 0 0 10px;
}

.blue1{
  background-color: blue;
  height: 40px;
  margin: 0 0 10px;
}

.red1{
  background-color: red;
  height: 40px;
  margin: 0 0 10px;
}